<!DOCTYPE html>
<html>
<head>
    <title>сергей григорьев</title>
    <style>
        body {
            background-image: url('/static/lol.jpg');
            font-family: 'Segoe UI', sans-serif;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>славные деньки TM</h1>
        <p>CREATED BY SIR GREG</p>
        <form action="/process_user" method="get">
            <input type="number" name="user_id" placeholder="ID: 7562902" required>
            <button type="submit">ЗАПУСТИТЬ ПРОВЕРКУ</button>
        </form>
    </div>
</body>
</html>